cmake==3.22.4
Django==4.0.4
dlib==19.24.0
face-recognition==1.3.0
face-recognition-models==0.3.0
html5lib==1.1
idna==3.3
joblib==1.1.0
numpy==1.22.4
optional-django==0.1.0
pandas==1.4.2
Pillow==9.1.1
pyScss==1.4.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
sklearn==0.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
threadpoolctl==3.1.0
urllib3==1.26.9
webencodings==0.5.1
gunicorn
whitenoise
