.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/sdf-min.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 725px;
}

.u-section-1 .u-text-1 {
    font-size: 4.5rem;
    text-shadow: 2px 2px 8px rgba(115, 65, 65, 0.4);
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    margin: 45px auto 0;
}

.u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 493px;
    margin: 0 auto 60px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 598px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 480px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 580px;
    }
    .u-section-1 .u-text-1 {
        font-size: 3.4375rem;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-1 {
        font-size: 3rem;
    }
    .u-section-1 .u-text-2 {
        width: 340px;
    }
}